

/* *{
    border: 1px black solid;
} */

body {
    background-color: darkgoldenrod;
}
#playerNameBox{
    display: none;
    margin: auto;

}
#overallGameBox {
    display: none;
}
#userBox {
    margin: auto;
    text-align: center;
}
#userName {
    display: inline-block;
    /* margin-right: 1px; */
}
#changeUser {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 1px;
    /* transform: translate(-50%, -50%); */
    transform: scale(0.500, 0.500);
}
.score {
    display: inline-block;
    text-align: center;
}
#score, #userName {
    text-align: center;
}
.playerButtons {
    text-align: center;
}
.playerNameDiv {
    height: 20px;
}
.attackButtons {
    text-align: center;
}
.gameBtn {
    transition: all 0.5s;

}

.attackImage {
    width: 50px;
    height: 50px;
    /* transition: all 1s; */
}
.otherAttack {
    /* width: 60px;
    height: 60px; */
    background-color: red;

}

#resultsBox {
    height: 70px;
}
#gameResults img, #gameResults h4 {
    display: inline-block;
}


/* chat box css */
#chatBox{
    height: 300px;
    width: 100%;
    overflow: hidden;
    /* background-color: #e9ecef; */
    background-color: #212528;
    padding: 5px;
}
#chatForm {
    border-bottom: solid black 1px
}
#chatArea{
    position: relative;
    background-color: hsl(206, 36%, 20%);
    overflow:auto;
    height: 250px;
}
#chatArea p {
    margin: 0;
}
.myChat {
    margin-left: auto;
    text-align: right;
    margin-top: 1px;
    margin-right: 3px;
    max-width: 80%;
}
.myChat p {
    background-color: #8afe37;
    padding: 5px;
    border: 1px transparent solid;
    border-radius: 6px;
    display: inline-block;
}

.otherChat {
    margin-left: 3px;
    margin-right: auto;
    margin-top: 1px;
    max-width: 80%;

}
.otherChat p {
    background-color: #52b4ff;
    padding: 5px;
    border: 1px transparent solid;
    border-radius: 6px;
    display: inline-block;

}


/* watcher box css */
#watcherBox p {
    text-align: center;
}
table {
    text-align: center;
}
#statsTableDiv .card {
    background-color: #d0980b;
}