#playerNameBox{
    display: none;
    margin: auto;

}
#userName {
    display: inline-block;
    /* margin-right: 1px; */
}
#changeUser {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 1px;
    /* transform: translate(-50%, -50%); */
    transform: scale(0.650, 0.650);
}
.score {
    display: inline-block;
}

#chatBox{
    background-color: lightgreen;
    height: 200px;
    width: 400px;
    overflow: hidden;
}
#chatArea{
    overflow:auto;
    height: 70%;
}
#chatArea p {
    margin: 0;
}

#chatInput {
    width: 70%
}

.container {
    display: none;
}